*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
p{
   font-weight: normal;
}
em{
    font-style: normal;
}
.nav{
    width: 100%;
    background: #f2f2f2;
    min-width: 990px;
    border-bottom: 1px solid #e5e5e5;
    
}
.container{
    width: 1230px;
    margin: auto;
    padding: 0 10px;
    position: relative;
}
.nav-left{
    width: 218px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #999;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.nav a:hover{
    color: red;
}
.nav-login{
    color: #999;
    text-decoration: none;
    cursor: pointer;
    padding-left: 20px;
}
.nav-login:hover{
    text-decoration: none;
}
.nav-register{
    color: #999;
    padding: 0 10px;
    text-decoration: none;
}
.nav-register:hover{
    text-decoration: none;
}
.nav-right{
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #999;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.nav-right li{
    float: left;
}
.nav-right a{
    color: #999;
    text-decoration: none;
    cursor: pointer;
    padding: 0 10px;
}
.line{
    display: inline-block;
    width: 0;
    height: 14px;
    line-height: 14px;
    vertical-align: top;
    position: relative;
    top: 9px;
    left: 0;
    font-size: 0;
    border-left: 1px solid #ccc;
    margin: 0 2px 0 5px;
}
/* 头部导航结束 */
/* 头部搜索框开始 */
.search{
    width: 100%;
    height: 130px;
    min-width: 500px;
    background-color: pink;
}
.search-container{
    width: 625px;
    height: 40px;
    margin: 45px auto auto;
    border: 2px solid red;
    box-sizing: border-box;
}

.search-input{
    width: 491px;
    height: 36px;
    float: left;
}
.search-input input{
    width:491px;
    height: 36px;
    border: 0;
    
}
@media (max-width:1260px){
    .search-container{
        width: 410px;
    }
    .search-input{
        width:276px;
    }
    .search-input input{
        width: 276px;
    }
}
@media (max-width:1000px){
    .search-container{
        max-width: 410px;
        margin-left: 296px;
    }
}
.search-a{
    display: block;
    width: 130px;
    height: 36px;
    background-color: #FF0036;
    float: right;;
    text-align: center;
    font-size: 18px;
    letter-spacing: 5px;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
    cursor: pointer;
    line-height: 36px;
    text-decoration: none;
    color: white;
    border: 0;
}
/* 头部搜索框结束 */
/* 头部导航2开始 */
.nav2{
    width: 1519px;
    height: 36px;
    border-bottom: 1px solid red;
    margin-top: 50px;
}
.nav2-container{
    width: 1030px;
    height: 35px;
    margin-left: 140px;
}
.fenlei{
    width: 200px;
    height: 36px;
    font-size: 12px;
    background-color: #FF0036;
    float: left;
}
.fenlei-text{
    width: 64px;
    height: 36px;
    display: inline-block;
    font-size: 16px;
    margin-left: 8px;
    font-weight: 700;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    line-height: 36px;
    color: white;
}
.nav2-right a{
    height: 35px;
    cursor: pointer;
    float: left;
    padding: 0 8px;
    font-weight: 500;
    font-size: 16px;
    display: block;
    color: #333;
    letter-spacing: normal;
    position: relative;
    word-spacing: normal;
    vertical-align: top;
    text-decoration: none;
    line-height: 36px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.nav2-right a:hover{
    color: red;
}
.nav2-right a img{
    width: 100px;
    height: 30px;
    margin-top: 3px;
    display: block;
    vertical-align: middle;
}
@media (max-width:1260px){
    .nav2-container{
        width: 782px;
        margin: 0 auto;
    }
}
/* 头部导航2结束 */
/* banner开始 */
.banner{
    width: 100%;
    height: 500px;
    background-color: pink;
}
.goods{
    width: 200px;
    height: 500px;
    margin-left: 140px;
    background:black;
    opacity: 0.5;
}
.goods li{
    display: block;
    width: 200px;
    height: 31px;

}
.goods li a{
    display: block;
    width: 200px;
    height: 31px;
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer; 
    line-height: 31px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;

}

/* banner结束 */
/* middle开始 */

.middle{
    width: 1519px;
    height: 50px;
    /* background: rgb(247, 242, 242); */
}
.middle-top{
    width: 1260px;
    height: 353px;
    padding: 24px 30px 0 0;
}
.top1{
    width: 234px;
    background: white;
    float: left;
}
.top1-text1{
    width: 234px;
    height: 55px;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    line-height: 54px;
    height: 18px;
    margin-left: 10px;
}
.top1-text1 span{
    height: 55px;
    line-height: 55px;
}
.top1 img{
    width: 234px;
    height: 316px;
    vertical-align: middle;
    cursor: pointer;
}
.top2{
    width: 485px;
    background: white;
    margin-left: 20px;
    float: left;
}
.top2-text{
    width: 485px;
    height: 55px;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    line-height: 54px;
    height: 18px;
    margin-left: 10px;
}
.top2 img{
    width: 485px;
    height: 316px;
    cursor: pointer;

}
.top3{
   width: 485px;
   background: white;
   margin-left: 20px;
   float: left;
}
.top3-text{
    width: 485px;
    height: 55px;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    line-height: 54px;
    height: 18px;
    margin-left: 10px;
    
}
.top3 img{
    width: 485px;
    height: 316px;
    cursor: pointer;
}
.middle{
    width: 1260px;
    height: 700px;
    margin: 15px auto 0;
}
.middle1 li{
    display: block;
    width: 113px;
    height: 89px;
    padding: 0 5px;
    float: left;
    border: 1px solid rgb(235, 230, 230);
}
.middle1 li img{
    width: 115px;
    height: 89px;
    cursor: pointer;
}
.middle1 li a{
    display: block;
    width: 115px;
    height: 89px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 89px;
}
.market{
    width: 1260px;
    height: 665px;
}
.img1{
    vertical-align: middle;
    width: 214px;
    height: 25px;
}
.maotai{
    width: 235px;
    height: 618px;
    position: relative;

}
.maotai img{
    width: 235px;
    height: 618px;
}
.maotai 
/* middle结束 */











/* 底部1开始 */
.dibu1{
    width: 1519px;
    height: 350px;
    padding-top: 100px;
    margin-top: 900px;
}
.dibu1-top{
    width: 1190px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.dibu1-top a{
    float: left;
    display: block;
    width: 297px;
    height: 100px;
    
    text-decoration: none;
    cursor: pointer;
}
.dibu1-top a img{
    width: 297px;
    height: 100px;
}
.dibu1-bottom{
    width: 1190px;
    height: 213px;
    margin: 0 164px;
    padding: 22px 0 0;
}
.dibu1-text1{
    width: 205px;
    height: 90px;
    float: left;
    padding: 0 0 0 52px;
}
.dibu1-text2{
    width: 205px;
    height: 90px;
    float: left;
    padding: 0 0 0 52px;
}
.dibu1-text3{
    width: 205px;
    height: 130px;
    float: left;
    padding: 0 0 0 52px;
}
.dibu1-text4{
    width: 205px;
    height: 170px;
    float: left;
    padding: 0 0 0 52px;
}
.dibu1-bottom span{
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
.dibu1-bottom a{
    width: 100px;
    font-size: 12px;
    overflow: hidden;
    text-align: left;
    height: 20px;
    line-height: 20px;
    color: #8b8b8b;
    text-decoration: none;
}
.text5 img{
    display: block;
}


/* 底部1结束 */
/* 底部2开始 */
.dibu2{
    width: 1519px;
    height: 250px;
    background: #000;
    border-top: 2px solid red;
    
}
.dibu2-container{
    width: 1190px;
    height: 220px;
    margin: 0 auto;

}
.dibu2-text1{
    width: 1190px;
    color: #fff;
    line-height: 25px;
    padding: 5px 0;
    text-align: left;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.dibu2-text1 a{
    text-decoration: none;
    margin-right: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
}
.dibu2-text2{
    width: 1190px;
    color: #fff;
    line-height: 25px;
    padding: 5px 0;
    text-align: left;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.dibu2-text2 a{
    text-decoration: none;
    margin-right: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
}
.footer{
    width: 1190px;
    height: 150px;
    margin: 0 auto;
}
.footer span{
    line-height: 20px;
    background: #000;
    color: #a4a4a4;
    text-align: left;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    font-size: 12px;
}
.footer a{
    text-decoration: none;
    margin-right: 65px;
    color: #a4a4a4;
    cursor: pointer;
    font-size: 12px;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;

}
.footer b{
    display: block;
    color: #686868;
    font-weight: 400;
    font-size: 12px;
}
.footer-last{
    width: 1190px;
    height: 45px;
    padding: 10px 0 5px;
}